<div class="col-md-7 col-md-offset-3 main">
	<% provide(:title, "Resend Confirmation") %>
	<center><h1>Resend confirmation instructions</h1></center>
	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <div id="error_explanation" class="col-md-12">
	  	<%= devise_error_messages! %>
	  </div>
	  <div class="col-md-12">
	  	<div class="field">
		    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Password", :class => "form-control"  %> 
			</div>
		</div>
		<div class="actions shared_links">
		  	<%= f.submit "Resend confirmation instructions", class: "btn btn-large btn-primary" %>
		</div>
		<%= render "users/shared/links" %>
	<% end %>
</div>



