<% if @status.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

    <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field" id="status_name">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, :class => "form-control", readonly: true %>
</div>

<div class="field" id="should_it_count_as_working_time">
  <%= f.label :counted %>
  <%= f.select :counted, [['Counted', 'true'], ['Do not care', 'false']], :class => "form-control", autofocus: true %>
</div>
