<div class="col-md-6 col-md-push-3">
  <%= provide(:title, "Create new status") %>
  <center><h1 >Create new status</h1></center>

  <%= form_for(@status) do |f| %>
    <div class="col-md-12">

      <div class="field" id="report_name">
        <%= f.text_field :name, autofocus: true, placeholder: "Report's name", :class => "form-control" %>
      </div>

      <div class="actions shared_links" id="submit">
        <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      </div>
      <div id="cancel">
        <%= link_to 'Cancel', statuses_path, class: "btn btn-large" %>
      </div>
    </div>
  <% end %>  
</div>
