<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Component:</strong>
  <%= @project.component %>
</p>

<p>
  <strong>Business:</strong>
  <%= @project.business %>
</p>

<p>
  <strong>Price:</strong>
  <%= @project.price %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
