<p id="notice"><%= notice %></p>

<p>
  <strong>From date:</strong>
  <%= @overtime.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @overtime.to_date %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @overtime.employee %>
</p>

<%= link_to 'Edit', edit_overtime_path(@overtime) %> |
<%= link_to 'Back', overtimes_path %>
