<p id="notice"><%= notice %></p>

<h1>Componenets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @componenets.each do |componenet| %>
      <tr>
        <td><%= componenet.name %></td>
        <td><%= link_to 'Show', componenet %></td>
        <td><%= link_to 'Edit', edit_componenet_path(componenet) %></td>
        <td><%= link_to 'Destroy', componenet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Componenet', new_componenet_path %>
