<div class="col-md-7 col-md-offset-3 main">
  <% provide(:title, "Result template")%>
  <center><h1><%= @result_view.name %></h1></center>
  <table>
    <tbody>
      <tr>
        <td><%= @result_view.template %></td>
      </tr>
      <tr>
        <td><%= button_to 'Edit', edit_result_view_path(@result_view), method: :get, class: 'btn btn-info btn-xs' %>
        <%= link_to 'Destroy', @result_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Back', result_views_path %>

