<div class="col-md-7 col-md-offset-3 main">
  <% provide(:title, "Results for #{@report.id} Report")%>
  <center><h1>Result of <%= @report.name %></h1></center>

  <div class="col-md-7">
    
    <% @businesses.each do |b| %>
      
      <div class="col-md-12 col-md-offset-3 header">
        <table class="table-hover col-md-12">
          <% business_sum = FullReportResultsView.where(report_id: @report.id).where(business: b.business).sum(:calculated) %>
          <thead>
            <tr>
              <th><h3><%= b.business %></h3></th>
              <th><h3><%= business_sum.round(2) %> h</h3></th>
              <th><h3><font color="#8E24DC"><%= (business_sum * Business.find_by_name(b.business).price).round(2) %> €</font></h3></th>
            </tr>
          </thead>
        </table>
      </div>

      <% FullReportResultsView.select([:project]).where(report_id: @report.id).where(business: b.business).group(:project).order(:project).each do |pr| %>
        <div class="col-md-12 col-md-offset-3 main">
          <table class="table-hover col-md-12">
          <% project_sum = FullReportResultsView.where(report_id: @report.id).where(business: b.business).where(project: pr.project).sum(:calculated) %>
            <thead>
              <tr>
                <th><h4><%= pr.project %></h4></th>
                <th><h4><%= project_sum.round(2) %> h</h4></th>
                <th><h4><font color="#8E24DC"><%= (project_sum * Business.find_by_name(b.business).price).round(2) %> €</font></h4></th>
              </tr>
            </thead>
          </table>
        </div>

        <% FullReportResultsView.select([:employee]).where(report_id: @report.id).where(business: b.business).where(project: pr.project).group(:employee).order(:employee).each do |e| %>
          <div class="col-md-12 col-md-offset-3 body">
            <table class="table-bordered col-md-12">

              <% employee_sum = FullReportResultsView.where(report_id: @report.id).where(business: b.business).where(project: pr.project).where(employee: e.employee).sum(:calculated) %>

              <thead>
                <th><%= e.employee %></th>
                <th><%= employee_sum.round(2) %> h</th>
                <th><font color="#8E24DC"><%= (employee_sum * Business.find_by_name(b.business).price).round(2) %> €</font></th>
              </thead>

              <tbody>
                <% FullReportResultsView.select([:issue_key, :issue_title, :calculated]).where(report_id: @report.id).where(business: b.business).where(project: pr.project).where(employee: e.employee).order(:issue_key).each do |i| %>
                  <tr>
                    <td><%= i.issue_key %> - <%= i.issue_title %></td>
                    <td><%= i.calculated.round(2) %> h</td>
                    <td><%= (i.calculated.round(2) * Business.find_by_name(b.business).price).round(2) %> €</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', reports_path %>