<div class="col-md-7 col-md-offset-3 main">
  <% provide(:title, "Results for #{@report.id} Report")%>
  <center><h1>Result of <%= @report.name %></h1></center>

  <ul class="nav nav-tabs">
    <% @templates.each do |temp| %>
      <li><a href="#<%= temp.id %>" data-toggle="tab"><%= temp.name %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @templates.each do |temp| %>
      <% t = temp.template.gsub! '@report.id', "#{@report.id}" %>
      <% erb = ERB.new(temp.template) %>
      <div class="tab-pane" id="<%= temp.id %>"><%= render :inline => erb.result %></div>
    <% end %>
  </div>
</div>
<%= link_to 'Back', reports_path %>