<div class="col-md-6 col-md-push-3">
  <%= provide(:title, "Create new report") %>
  <center><h1 >Create new report</h1></center>
  <%= form_for(@report) do |f| %>
    <div class="col-md-12">
      <%= render 'shared/error_messages' %>
    <div class="col-md-12">
      <%= render 'form', f: f %>
    </div>

      <div class="actions shared_links" id="submit">
        <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      </div>
      <div id="cancel">
        <%= link_to 'Cancel', reports_path, class: "btn btn-large" %>
      </div>
    </div>
  <% end %>  
</div>


