<div class="col-md-6 col-md-push-3">
  <%= provide(:title, "Create new report") %>
  <center><h1 >Create new report</h1></center>

  <%= form_for(@report) do |f| %>
    <div class="col-md-12">

      <div class="field" id="report_name">
        <%= f.text_field :name, autofocus: true, placeholder: "Report's name", :class => "form-control" %>
      </div>

      <div class="field" id="from_date">
        <%= f.date_field :from_date, autocomplete: "off", placeholder: "YYYY-MM-DD", :class => "form-control" %>
      </div>

      <div class="field" id="to_date">
        <%= f.date_field :to_date, autocomplete: "off", placeholder: "YYYY-MM-DD", :class => "form-control" %>
      </div>

      <div class="field" id="settings">
        <%= f.collection_check_boxes :report_type, ReportType.all, :id, :report_type, :class => "form-control" %>
        <%= f.collection_check_boxes :email, Employee.all, :id, :email, :class => "form-control" %>
        <%= f.collection_check_boxes :name, Component.all, :id, :name, :class => "form-control" %>
        <%= f.collection_check_boxes :name, Business.all, :id, :name, :class => "form-control" %>
      </div>

      <div class="actions shared_links" id="submit">
        <%= f.submit "Create", class: "btn btn-large btn-primary" %>
      </div>
      <div id="cancel">
        <%= link_to 'Cancel', reports_path, class: "btn btn-large" %>
      </div>
    </div>
  <% end %>  
</div>


