<div class="col-md-7 col-md-offset-3 main">
  <% provide(:title, "Report")%>
  <center><h1>Report</h1></center>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @report.name %></td>
        <td><%= @report.from_date %></td>
        <td><%= @report.to_date %></td>
        <td><%= button_to 'Get', report_get_report_path(@report), method: :get, class: 'btn btn-info btn-xs' %></td>
        <td><%= button_to 'Edit', edit_report_path(@report), method: :get, class: 'btn btn-info btn-xs' %></td>
          <td><% if !ReportResult.find_by_report_id(@report.id).nil? %>
            <%= button_to 'Resuls', report_get_results_path(@report), method: :get, class: 'btn btn-info btn-xs' %>
          <% end %></td>
        <td><%= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Back', reports_path %>
