<div class="col-md-7 col-md-offset-3 main">
  <% provide(:title, "Report")%>
  <center><h1>Report</h1></center>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Report type</th>
        <th>Employees</th>
        <th>Components</th>
        <th>Business areas</th>
        <th>Jira statuses</th>
        <th>Projects</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @report.name %></td>
        <td><%= @report.from_date %></td>
        <td><%= @report.to_date %></td>
        <td><% @r_type.each do |value| %>
          <%= ReportType.find(value).report_type %><br>
        <% end %></td>
        <td><% @e_ids.each do |value| %>
          <%= Employee.find(value).email %><br>
        <% end %></td>
        <td><% @c_ids.each do |value| %>
          <%= Component.find(value).name %><br>
        <% end %></td>
        <td><% @b_ids.each do |value| %>
          <%= Business.find(value).name %><br>
        <% end %></td>
        <td><% @stat.each do |value| %>
          <%= Status.find(value).name %><br>
        <% end %></td>
        <td><% @p_ids.each do |value| %>
          <%= Project.find(value).prefix %><br>
        <% end %></td>
        <td><%= link_to 'Get', report_get_path(@report) %></td>
        <td><%= link_to 'Show', @report %></td>
        <td><%= link_to 'Edit', edit_report_path(@report) %></td>
        <td><%= link_to 'Destroy', @report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
