<%= form_for(report) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="name">
    <%= f.label :name %>
    <%= f.text_field :name, :readonly => true %>
  </div>

  <div class="field" id="from_date">
    <%= f.label :from_date %>
    <%= f.date_field :from_date %>
  </div>

  <div class="field" id="to_date">
    <%= f.label :to_date %>
    <%= f.date_field :to_date %>

  <div class="field" id="settings">
    <%= f.label :settings %>
    <%= f.json_field :settings %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
