<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand" id="sidebar_reports"> <%= link_to "Report", reports_path %></li>
    <br>
    <li class="sidebar-brand" id="sidebar_report_types"> <%= link_to "Report_types", report_types_path %></li>
    <br>
    <% if current_user != nil %>
      <li class="sidebar-brand" id="sidebar_issues"> <%= link_to "Issues", issues_path %></li>
      <li class="sidebar-brand" id="sidebar_issue_histories"> <%= link_to "Issue Histories", issue_histories_path %></li>
      <br>
      <li class="sidebar-brand" id="sidebar_businesses"> <%= link_to "Business", businesses_path %></li>
      <li class="sidebar-brand" id="sidebar_components"> <%= link_to "Components", components_path %></li>
      <li class="sidebar-brand" id="sidebar_employees"> <%= link_to "Employees", employees_path %></li>
      <li class="sidebar-brand" id="sidebar_projects"> <%= link_to "Projects", projects_path %></li>
    <% end %>
  </ul>
</div>
